*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: sans-serif;
   padding: 3px;
}
html, body{
    height: 100%;
    width: 100%;

}
#main{
   height: 100%;
   width: 100%; 
   background-color: white;
}
#nav{
    height: 100px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-part1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav h3{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    font-size: 13px;
    border-radius: 50px;
    font-weight: 550;
}
#nav-part3 #btn2{
    background-color: rgb(241, 23, 23);
    color: white;
    border: none;
}

#main>h1{
   
    font-size: 90px;
    font-weight: 550;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 380px;
    width: 300px;
    object-fit: cover; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    border: none;

}
#img2{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img4{
    transform: translate(-50%,-50%) rotate(-10deg);
}

#btm-left{
    position: absolute;
    bottom: 5%;
    left: 2%;
    
    font-size: 16px;

}
#btm-right{
    position: absolute;
    bottom: 5%;
    right: 2%;
    
}
#btm{
    position: absolute;
    bottom: 3%;
    right: 2%;
}